.item_img{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}

.item_title{
    width: 2rem;
    height: 4rem;
}
.item_qnty{
    padding-left: 3rem;
}

.item_input{
    background-color: aliceblue;
    width: 25px;
    height: 25px;
}
.rmBtn{
   margin-left: 2rem;
   margin-right: 0%;
   background-color: rgb(203, 27, 27);
   margin-left: 4rem;
}